.container {
    padding: 2px 16px;
}

viewSection {
    padding-left: 10px;
}

img {
    height: 220px;
    border-radius: 5px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    float:left;
    margin: 10px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.viewHeader {
    font-size: 38px;
    font-style: oblique;
    background-color: bisque;
}

div {
    background-color: rgb(255, 255, 255);
}
.serviceText {
    left: 54px;
    position: relative;
    font-size: 48px;
    font-weight: bold;
    background-color: white;
    color: navy;
    top: 129px;
}

.service {
    background-image: url('~@/assets/universityHD.jpg');
    height:500px;
    /* background-size: 1400px 500px; */
    background-repeat: no-repeat;
}

.search-container {
    position: relative;
    left: -106px;
    top: 186px;
    /* width: 560px; */
}

.search-container input[type=submit]{
    position: absolute;
    top: 0px;
    right: -50px;
    margin-left: 15px;
    width: 160px;
    border-color: black;
    background-color: #dee4fc;
}
.inputList {
    margin-left: 322px;
    width: 560px;
    display: inline-block;
    background-color: gold;
}
/* .search-container datalist{
    position: relative;
    left: 158px;
    width: 560px;
    font-size: x-large;
    height: 50px;
} */

.search-container button {
    position: relative;
    left: 162px;
    height: 27px;
}
/* .search {
    background-image: url('~@/assets/green-light.jpg');
    height:218px;
    background-size: 1400px 218px;
    background-repeat: no-repeat;
} */

.subText {
    font-weight: bold;
    color: red;
    background-color: white;
    font-style: italic;
    left: 50px;
    position: relative;
    top:131px;

}

/* .feedBacks {
    background-image: url('~@/assets/colors.jpeg');
    height:218px;
    background-size: 1400px 218px;
    background-repeat: no-repeat;
} */